<!-- <div class="container-fluid">
  <div class="col-md-4 card mx-auto" *ngFor="let item of pokemonList">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img class="poke-img" src="../../assets/pokemon.json-master/images/{{ getimagepath(item.id) }}" alt="">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h1 class="card-title">{{item.name_english}}</h1>
          <p>
            {{item.type_0}}
          </p>
          <p>
            {{item.type_1}}
          </p>
        </div>
      </div>
      <div class="col-md-2">
        <button mat-raised-button color="primary">Primary</button>
      </div>
    </div>
  </div>
</div>-->
<div class="container-fluid">
  <div class="row" >
    <div class="col-md-4 column" *ngFor="let item of pokemonList">
      <a routerLink="/pokemonDetail/{{item.id}}"><img class="poke-img" src="../../assets/pokemon.json-master/images/{{ getimagepath(item.id) }}" alt=""></a>
    </div>
  </div>
</div>



