.cards-containerBox{
  background-color: yellowgreen;
  width: 100%;
  margin: 0;
  padding: 0;
}

.cards-container{
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 2%;
}

mat-card-title{
  text-align: center;
}

img{
  width: 90%;
  height: auto;
}

.card{
  margin-bottom: 1%;
}

.container-fluid{
  padding-top: 1%;
  background-color: yellowgreen;
}
